@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
} */

@layer base {
  body {
    @apply bg-green;
  }
}

@layer utilities {
  .purpleBgClip {
    clip-path: polygon(34% 0, 100% 0, 100% 100%, 0 100%, 0 32%);
  }
  .bottomBgClip {
    clip-path: polygon(90% 64%, 100% 100%, 0 100%, 0 64%);
  }

  .ticketBgClip {
    clip-path: polygon(80% 0, 100% 35%, 100% 100%, 0 100%, 0 0);
  }
}

.title-accent {
  color: #d2abe4;
  font-weight: bold;
  font-family: work_sansextrabold;
}
